/* =================== */
/*      General        */
/* =================== */
#mainBody {
    margin: 0;
    background-color: #4a5568;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* =================== */
/*      BFG Header     */
/* =================== */
#bfgHeader {
    height: 150px;
    background-image: url('@images/header-bg.jpg');
    background-size: cover;
    text-align: center;
}
#bfgHeader .banner-container {
    position: relative;
    height: 100%;
}
#bfgHeader .logo-home {
    text-align: center;
    align-items: end;
}
#bfgHeader .bfg-logo {
    padding-top: 15px;
    height: 80%;
}

/* =================== */
/*      Navbar         */
/* =================== */

#navbar {
    text-align: center;
    background-color: #c8c5dc;
}
#navbar .navbar-container {
    max-width: 1500px;
    margin: auto;
}
#navbar ul {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar li {
    display: inline-block;
    height: 40px;
    padding: 15px 40px;
    font-size: 40px;
    color: black;
}
#navbar a {
    text-decoration: none;
    color: black;
}
#navbar a:hover {
    color: #2d3748;
}
#userDropdownBtn {
    height: 100%;
}
#userDropdownBtn img {
    height: 100%;
}

/* =================== */
/*    Fleet Builder    */
/* =================== */

#fleetBuilderBody {
    flex: 1;
    background-image: url('@images/fleet-builder-bg-2.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

#fleetBuilderBody .content-wrapper {
    padding: 0 20px;
    margin: auto;
    position: relative;
}

#fleetBuilderBody .section {
    border: #c8c5dc 3px solid;
    border-radius: 5px;
    padding: 25px;
    background-color: #6097c05e;
    box-shadow: #1a202c 0 0 30px, inset #c8c5dc 0 0 30px;
    backdrop-filter: blur(5px);
}

#fleetBuilderBody .section.section-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#fleetBuilderBody .section.section-top .faction {
    margin: 10px 5px;
    opacity: 70%;
    cursor: pointer;
    position: relative;
}

#fleetBuilderBody .section.section-top .faction:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px #c8c5dc) hue-rotate(45deg);
}

#fleetBuilderBody .section.section-top .faction.selected {
    opacity: 1;
}

#fleetBuilderBody .section.section-top .faction.selected:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: calc(50% - 10px);
    border-top: 20px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -25px;
}

#fleetBuilderBody .section.section-top .faction img {
    height: 60px;
}

#fleetBuilderBody .section.section-top .faction h3 {
    margin: 0;
    font-optical-sizing: initial;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    letter-spacing: 0.5px;
    color: white;
}

#fleetBuilderBody .section.section-right {
    min-height: 50vh;
}
