@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary-100: #6097c0;
    --color-primary-500: #365773;
    --color-primary-700: #2d3748;
    --color-primary-100-opc-35: #6097C059;
    --color-primary-500-opc-50: #36577380;
    --color-primary-500-opc-80: #365773CC;
    --color-secondary: #c8c5dc;
    --color-tertiary: #4a5568;

    /* Fonts */
    --font-family-primary: "League Gothic", sans-serif;
    --font-family-secondary: "Pathway Gothic One", sans-serif;

    /* Animations */
    --animate-spin-slow: spin 2s ease-in-out infinite;
}

/* =================== */
/*      General        */
/* =================== */
img {
    max-width: 100%;
    max-height: 100%;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

label:has(> input[type="checkbox"]:disabled) {
    cursor: not-allowed !important;
}

input {
    font-family: var(--font-family-secondary), sans-serif;
}

/* Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* =================== */
/*      BFG Header     */
/* =================== */
#bfgHeader {
    /*Vite and Vue are in conflict here and giving me a headache + IDE code analysis reporting it as error on commits. Setting suppression rule, i know this works fine */
    /*noinspection CssUnknownTarget*/
    background-image: url('@images/header-bg.jpg');
}

/* =================== */
/*      Navbar         */
/* =================== */
@layer wrappers {
    .navbar-li {
        @apply box-content align-top inline-block h-10 py-3.5 px-10 leading-10 text-4xl;
    }
}

/* =================== */
/*    Fleet Builder    */
/* =================== */

#fleetBuilderBody {
    /*noinspection CssUnknownTarget*/
    background-image: url('@images/fleet-builder-bg-2.jpg');
}
/* maybe remove? not sure what is this for
/*#fleetBuilderBody .content-wrapper:after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

@layer wrappers {
    .section {
        @apply relative text-secondary p-6 border-3 border-secondary rounded-md bg-primary-100-opc-35 shadow-[0_0_30px_#1a202c,inset_0_0_30px_#c8c5dc] backdrop-blur-md mt-12;
    }
    .section-overlay {
        @apply absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center bg-primary-500-opc-50 backdrop-blur-sm z-50;
    }
    .section-overlay img {
        @apply w-12 h-12 animate-spin-slow;
    }
    .section-left .section-subsection {
        @apply relative pb-2.5 after:absolute after:block after:content-[''] after:bottom-0 after:-right-6 after:h-1 after:w-88 after:bg-[linear-gradient(to_right,transparent_0%,#c8c5dc_100%)];
    }
    .section-left .section-subsection.last {
        @apply after:hidden pb-0;
    }
    .export-btn {
        @apply w-22 text-lg;
    }
    .ship-list-separator:after {
        @apply absolute block content-[''] bottom-0 -right-6 w-64 h-0.5 bg-[linear-gradient(to_right,transparent_0%,#c8c5dc_100%)];
    }

    /* Ship Cards */
    .card-ship .card-subsec-l {
        @apply flex items-center px-2.5 relative;
    }

    .card-ship .card-subsec-r {
        @apply flex self-end items-center px-2.5;
    }

    .card-ship .card-box-container {
        @apply border-2 border-primary-500-opc-80 rounded-md bg-transparent text-primary-500-opc-80;
    }

    .card-ship .heading {
        @apply text-2xl font-normal z-0;
    }

    .card-ship input {
        @apply rounded-md border-2 border-secondary bg-transparent outline-none m-0 p-0 align-middle font-semibold text-secondary text-center focus-visible:shadow-[inset_0_0_5px_#c8c5dc];
    }

    .card-ship .counter-btn {
        @apply bg-transparent border-none text-secondary cursor-pointer w-3 h-5 p-0 text-lg font-extrabold;
    }

}

@layer components {
    .btn-primary {
        @apply rounded-md border-primary-100 font-family-primary tracking-wide bg-secondary text-primary-500 cursor-pointer p-0.5 hover:text-primary-100 hover:shadow-[0_0_10px_#c8c5dc];
    }
}
